.header {
    display: flex;
    justify-content: space-between;
}

.name {
    margin: 0 0 0.2rem 0;
}
.subtitle {
    font-weight: normal;
    margin: 0 0 0.2rem 0;
}

.link-image {
    display: block;
    margin: 0 0.4rem;
}
.link-images {
    display: flex;
    align-items: center;
}


.technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.technology-section {
    margin: 0.5rem;
    width: 11.5rem;
    color: white;
    box-shadow: 0 0 2px #51293A;
}

.section-name {
    background-color: #51293A;
    margin: 0;
    padding: 0.6rem 1rem;
}

.technology-list {
    margin: 0;
    padding: 0.8rem 1rem;
}
.technology-item {
    margin: 0.3rem 0;
    list-style: none;
}
.technology-item:last-child {
    margin-bottom: 0;
}
.technology-item:first-child {
    margin-top: 0;
}
.technology-link {
    display: flex;
    align-items: center;
    text-decoration: hsla(0, 0%, 0%, 0.8) solid underline;
    color: hsla(0, 0%, 0%, 0.8);
    font-size: 0.9rem;
}
.technology-icon {
    display: inline-block;
    margin: 0 0.6rem 0 0;
    height: 18px;
    text-align: center;
}
