.link {
    display: block;
    width: 20rem;
    padding: 1rem;
    margin: 3rem auto;
    text-align: center;
    font-weight: bold;
    color: white;
    background: #FF6200;
    text-decoration: none;
    border: 4px double white;
}
