/* LAYOUT ----------------------------------------------------------------------------------------------------------- */
/* HEADER | PAGE */
.layout {
    display: grid;
    grid-template-rows: auto minmax(auto, calc(100vh - 4rem));
}

/* TOC | CONTENT */
.page {
    display: grid;
    grid-template: "toc content" / auto 1fr;
}
@media screen and (max-width: 400px) {
    .page {
        grid-template: "toc" auto "content" 1fr / 1fr;
    }
}

.content-container {
    grid-area: content;
    justify-self: stretch;
    display: flex;
    justify-content: center;
    overflow: auto;
}
@media screen and (max-width: 400px) {
    .content-container {
        overflow: visible;
    }
}
.content {
    width: 44rem;
    max-width: 100vw;
    display: grid;
    grid-template-rows: 1fr 3rem;
}
@media screen and (max-width: 400px) {
    .content {
        grid-template-rows: 1fr 5.6rem;
    }
}
@media (min-width: 401px) {
    .javascript-content {
        max-width: calc(100vw - 15rem);
    }
}
.main {
    min-width: 100%; /* Take whole width without overflowing */
    max-width: 100%; /* Take whole width without overflowing */
    padding: 2rem 2rem 1.5rem 2rem;
}
@media screen and (max-width: 400px) {
    .main {
        padding: 2rem 1.5rem 0.5rem 1.5rem;
    }
}

/* HEADER ----------------------------------------------------------------------------------------------------------- */
.header {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.7rem;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.75);
}
@media screen and (max-width: 400px) {
    .header {
        flex-direction: column;
        box-shadow: none;
    }
}

/* NAME */
.name {
    margin: 0 1.7rem 0 0;
    font-weight: normal;
    font-family: Lato sans-serif;
}
@media screen and (max-width: 400px) {
    .name {
        margin: 0;
    }
}
.name-link {
    text-decoration: none;
    color: hsla(0, 0%, 0%, 0.8);
}
.first-name {
    color: #FF6200;
}

/* NAVIGATION */
.navigation-list {
    margin: 0 -0.6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}
@media screen and (max-width: 400px) {
    .navigation-list {
        border-top: 1px solid rgba(0, 0, 0, 0.75);
        margin-top: 1rem;
        padding-top: 1rem;
    }
}

.navigation-item {
    margin: 0 0.6rem;
    font-size: 1.33rem;
}
.navigation-link {
    text-decoration: none;
    color: hsla(0, 0%, 0%, 0.8);
}
.navigation-link:hover, .active-link {
    box-shadow: inset 0 -0.03rem white,
    inset 0 -0.10rem #FF6200;
    text-shadow: 0.06rem 0 white,
    -0.06rem 0 white,
    0 0.06rem white,
    0 -0.06rem white,
    0.06rem 0.06rem white,
    0.06rem -0.06rem white,
    -0.06rem 0.06rem white,
    -0.06rem -0.06rem white;
}

.navigation-list:hover .navigation-link:not(:hover) {
    box-shadow: none;
    text-shadow: none;
}

.burger {
    display: none;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    width: 100%;
    padding: 0.7rem 1.7rem;
    margin: 1rem -1.7rem -1rem -1.7rem;
    color: white;
    background-color: #51293A;
    border: none;
}
.burger-image {
    margin: 0;
}
@media screen and (max-width: 400px) {
    .burger {
        display: flex;
    }
}

/* FOOTER ----------------------------------------------------------------------------------------------------------- */
.footer {
    position: relative;
    border-top: 1px solid darkgray;
}

/* LINKS */
.footer-links-list {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    display: flex;
}
@media screen and (max-width: 400px) {
    .footer-links-list {
        top: 25%;
        transform: translate(-50%, -25%);
    }
}
.footer-link {
    margin: 0;
}
.footer-image {
    display: block;
    height: 1.4rem;
    margin: 0 0.5rem;
}

/* COPYRIGHT */
.copyright {
    position: absolute;
    margin: 0 1.2rem;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
@media screen and (max-width: 400px) {
    .copyright {
        margin: 1.2rem 0;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }
}
.copyright-link {
    margin: 0;
}
.copyright-image {
    display: block;
    margin: 0 0.5rem;
}
