/* HEADER ----------------------------------------------------------------------------------------------------------- */
.header {
    display: flex;
    justify-content: space-between;
}
.name {
    margin: 0 0 0.2rem 0;
}
.subtitle {
    font-weight: normal;
    margin: 0 0 0.2rem 0;
}
.icons {
    display: flex;
    align-items: center;
}
.icon {
    display: block;
    margin: 0 0.4rem;
}

/* TECHNOLOGIES ----------------------------------------------------------------------------------------------------- */
.technical-description {
    margin-top: 1.45rem;
    padding: 1rem;
    border: 2px dashed #51293A;
}
.technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.technology-category {
    margin: 0.5rem;
    width: 11.5rem;
    color: white;
    box-shadow: 0 0 2px #51293A;
}
.category-name {
    background-color: #51293A;
    margin: 0;
    padding: 0.6rem 1rem;
}
.category-technologies {
    margin: 0;
    padding: 0.5rem 1rem;
}
.technology-item {
    margin: 0;
    list-style: none;
}
.technology-link {
    display: flex;
    align-items: center;
    padding: 0.4rem 0;
    font-size: 0.9rem;
    text-decoration: hsla(0, 0%, 0%, 0.8) solid underline;
    color: hsla(0, 0%, 0%, 0.8);
}
.technology-icon {
    height: 18px;
    margin: 0 0.6rem 0 0;
}

