/* PROJECTS --------------------------------------------------------------------------------------------------------- */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -0.7rem;
}
.project-container {
    height: 12.75rem;
    width: 12.3rem;
    margin: 0.7rem;
    box-shadow: 0 0 4px black;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* HEADER ----------------------------------------------------------------------------------------------------------- */
.icon-bar {
    padding: 0.3rem 0.3rem;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons {
    display: flex;
}
.icon-link {
    margin: 0 0.3rem;
}
.icon {
    display: block;
    height: 1.3rem;
    margin: 0;
}

/* MIDDLE ----------------------------------------------------------------------------------------------------------- */
@media (hover: hover) {
    .project-container:hover .description-container {
        display: block;
    }
    .project-container:hover .image {
        filter: brightness(30%);
    }
}

.project-middle {
    display: flex;
    overflow: hidden;
    text-decoration: none;
}
.description-container {
    display: none;
    box-sizing: border-box;
    overflow: hidden;
    min-width: 100%;
    border: 0.7rem solid transparent;
    transform: translateX(-100%);
    color: white;
}
.description {
    margin: 0;
    height: 100%;
    font-size: 0.9rem;
    line-height: 1.18745rem;
}

.image {
    min-width: 100%;
}

/* TITLE ------------------------------------------------------------------------------------------------------------ */
.title {
    padding: 0.5rem 0.6rem;
    color: hsla(0, 0%, 0%, 0.8);
    text-decoration: none;
    border-top: 1px solid black;
}
.name {
    margin: 0 0 0.3rem 0;
    font-size: 1.2rem;
    text-decoration: #FF6200 underline;
}
.subtitle {
    margin: 0;
    font-size: 0.9rem;
    font-weight: lighter;
}
