html, body {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    background-color: #6d6875;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: floralwhite;
    border: 5px double #e5989b;
    border-radius: 20px;
    margin: 0 1rem;
}

h1 {
    margin: 2rem;
    font-family: cursive;
}