.footer {
    position: relative;
    border-top: 1px solid darkgray;
}

/* LINKS ------------------------------------------------------------------------------------------------------------ */
.footer-links-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    display: flex;
    list-style-type: none;
}
.footer-link {
    margin: 0;
}
.footer-image {
    display: block;
    height: 1.4em;
    margin: 0 0.5em;
}

/* COPYRIGHT -------------------------------------------------------------------------------------------------------- */
.copyright {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin: 0 1.2em;
}
.copyright-link {
    margin: 0;
}
.copyright-image {
    display: block;
    margin: 0;
}
